{% extends 'app/base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block main-content %}
    <div class="container">
        <div class="row my-3">

            <div class="col-sm-6 offset-sm-3">
                <br>
                <h3 class="text-center">Password Reset Completed!</h3>
                <hr>
            </div>
            <div class="text-center">
                <img src="{% static 'app/images/gif/icons8-tick.gif' %}" width="100" height="100">
            </div>
        </div>
    </div>
{% endblock main-content %}